/* ======================================================================
 layout
====================================================================== */

/* =================================
 l_content_size
================================= */
// spから作成しリキッドレスポンシブの場合
.l_content_size_sp_1 {
  padding: 0 4.6875%; // 15px / 320px * 100%
  @include mq_min_769 {
  }
  @include mq_min_1025 {
    max-width: $base_width;
    margin: 0 auto;
  }
}

// pcから作成する場合
.l_content_size_pc_1 {
  width: $base_width;
  margin: 0 auto;
  @include mq_max_768 {
    width: auto;
    padding: 0 4.6875%; // 15px / 320px * 100%
  }
}

/* =================================
 l_container
================================= */
.l_container {
  opacity: 0; // js (loader)
  position: relative;
}

/* =================================
 l_header
================================= */
.l_header {
}

/* =================================
 l_header_sp
================================= */
.l_header_sp {
}

/* =================================
 l_menu_sp
================================= */
.l_menu_sp {
}

/* =================================
 l_breadcrumbs
================================= */
.l_breadcrumbs {
}

/* =================================
 l_main_visual
================================= */
.l_main_visual {
}

/* =================================
 l_content
================================= */
.l_content {
}

/* =================================
 l_main
================================= */
.l_main {
}

/* =================================
 l_side
================================= */
.l_side {
}

/* =================================
 l_footer
================================= */
.l_footer {
}

/* =================================
 l_hoge
================================= */
.l_hoge {
}

/* ======================================================================
 layout p_top
====================================================================== */

/* =================================
 l_container_top
================================= */
.l_container_top {
}

/* =================================
 l_header_top
================================= */
.l_header_top {
}

/* =================================
 l_header_sp_top
================================= */
.l_header_sp_top {
}

/* =================================
 l_main_visual_top
================================= */
.l_main_visual_top {
}

/* =================================
 l_content_top
================================= */
.l_content_top {
}

/* =================================
 l_main_top
================================= */
.l_main_top {
}

/* =================================
 l_side_top
================================= */
.l_side_top {
}

/* =================================
 l_footer_top
================================= */
.l_footer_top {
}

/* =================================
 l_hoge_top
================================= */
.l_hoge_top {
}
