/* ======================================================================
 layout
====================================================================== */

/* =================================
 l_content_size
================================= */
// spから作成しリキッドレスポンシブの場合
.l_content_size_sp_1 {
  padding: 0 4.6875%; // 15px / 320px * 100%
  @include mq_min_769 {
  }
  @include mq_min_1025 {
    max-width: $base_width;
    margin: 0 auto;
  }
}

// pcから作成する場合
.l_content_size_pc_1 {
  width: $base_width;
  margin: 0 auto;
  @include mq_max_768 {
    width: auto;
    padding: 0 4.6875%; // 15px / 320px * 100%
  }
}

/* =================================
 l_container
================================= */

/* =================================
 l_header
================================= */
.l_header {
  width: 100%;
  height: 180px;
  .top_header {
    width: 100%;
    height: 20px;
    background: #4164B4;
    color: #fff;
    .txt {
      @include flexbox();
      @include justify_content(left);
      @include align_items(center);
      width: 100%;
      height: 100%;
      padding: 0 0 0 20px;
    }
  }
  .main_header {
    height: 160px;
    .logo {
      text-align: center;
      font-size: 4.4rem;
      margin: 40px 0;
      color: #4164B4;
      letter-spacing: 2.4px;
    }
  }
}

/* =================================
 l_nav
================================= */
.l_nav {
  width: 100%;
  .lists {
    width: 50%;
    margin: 0 auto;
    @include flexbox();
    @include justify_content(space-around);
    .item {
      font-size: 1.8rem;
      .link {
        color: #666;
        font-weight: bold;
        transform: scale(1);
        transition: .3s;
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}
/* =================================
 l_header_sp
================================= */
.l_header_sp {
}

/* =================================
 l_menu_sp
================================= */
.l_menu_sp {
}

/* =================================
 l_breadcrumbs
================================= */
.l_breadcrumbs {
}

/* =================================
 l_main_visual
================================= */
.l_main_visual {
}

/* =================================
 l_content
================================= */
.l_content {
}

/* =================================
 l_main
================================= */
.l_main {
  width: 100%;
  margin: 0 auto;
  @include mq_max_768(){
    width: 98%;
  }
  .read_txt {
    text-align: center;
    font-size: 2.4rem;
    margin: 130px auto;
    width: 90%;
    letter-spacing: 2px;
    line-height: 2;
    font-weight: 900;
  }
}

/* =================================
 l_side
================================= */
.l_side {
  width: 25%;
  @include mq_max_768(){
    width: 100%;
    margin: 20px 0 0;
  }
  .recommend {
    .lists {
      .item {
        margin: 10px 0 20px;
        .link {
          .ttl {
            font-weight: 700;
            position: relative;
            display: block;
            padding: 12px 30px;
            transition: all .3s;
            color: #283135;
            border-radius: 7px;
            background: #f8f8f8;
            box-shadow: 0 5px 0 #e4e4e4;
            font-size: 2.1rem;
            &::after {
              position: absolute;
              top: calc(50% - 3px);
              right: 30px;
              width: 16px;
              height: 6px;
              content: '';
              border-radius: 3px;
              background: #000;
            }
            &.salon {
              &::after {
                background: #2E94B9;
              }
            }
            &.consultation {
              &::after {
                background: #f9ac3b;
              }
            }
            &.survey {
              &::after {
                background: #D693BD;
              }
            }
            &.school {
              &::after {
                background: #28be9b;
              }
            }
            &.acting {
              &::after {
                background: #ea7070;
              }
            }
            &.review {
              &::after {
                background: #005792;
              }
            }
          }
        }
      }
    }
  }
}

/* =================================
 l_side
================================= */
.l_wrapper {
  width: 100%;
  @include flexbox();
  @include justify_content(space-between);
  @include mq_max_768(){
    @include flex_direction(column);
  }
}

/* =================================
 l_footer
================================= */
.l_footer {
  width: 100%;
  background: #080957;
  margin: 30px 0 0;
  .footer_1 {
    display: none;
    height: 800px;
    position: relative;
    @include flexbox();
    @include justify_content(space-between);
    @include mq_max_768(){
      
    }
    .logo_box {
      width: 30%;
      @include flexbox();
      @include justify_content(center);
      @include align_items(center);
      .logo {
        width: 300px;
        height: 300px;
        .top_link {
          width: 300px;
        }
      }
    }
    .link_box {
      width: 70%;
      display: flex;
      justify-content: space-around;
      font-size: 2.3rem;
      color: #fff;
      font-weight: bold;
      .links {
        margin: auto; 
        max-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .lists {
          .item {
            .link {
              color: #fff;
              padding: 0 0 0 20px;
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
  .footer_2 {
    text-align: center;
    height: 40px;
    background: #080957;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* =================================
 l_hoge
================================= */
.l_hoge {
}

/* ======================================================================
 layout p_top
====================================================================== */

/* =================================
 l_container
================================= */
.l_container {
  width: 70%;
  @include mq_max_768(){
    width: 100%;
  }
  p.txt {
    font-size: 3.4rem;
    margin: 0 0 60px;
    @include mq_max_768(){
      font-size: 2.1rem;
    }
  }
}

/* =================================
 l_header_top
================================= */
.l_archive {  
  .l_container {
    width: 70%;
    height: 100%;
    @include mq_max_768(){
      width: 100%;
    }
    .lists {
      display: block;
      width: 100%;
      height: 100%;
      @include flexbox();
      @include justify_content(space-between);
      @include flex_wrap(wrap);
      .item {
        display: block;
        width: 47%;
        height: 100%;
        margin: 0 0 40px;
        transition: 0.5s;
        @include mq_max_768(){
          width: 100%;
        }
        &:hover {
          box-shadow: 0 3px 15px #808080;
        }
        .link {
          display: block;
          text-decoration: none;
          width: 100%;
          height: 100%;
          .img_box {
            display: block;
            width: 100%;
            height: 300px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            background: #fff;
            padding: 15px;
            .info_txt {
              color: #333;
              .u_head_2 {
                min-height: 40px;
                font-size: 2.3rem;
              }
              .desc_txt {
                font-size: 1.8rem;
              }
              .sub_info {
                margin: 20px 0 0;
                @include flexbox();
                @include justify_content(space-between);
                .date {
                  line-height: 2;
                }
                .cat {                  
                  border-radius: 15px;
                  padding: 5px 15px;
                  @include flexbox();
                  @include justify_content(center);
                  @include align_items(center);
                  &.basic {
                    border: solid 1px #0a61bb;
                    color: #0a61bb;
                  }
                  &.Comparison {
                    border: solid 1px #aea644;
                    color: #aea644;
                  }
                  &.trouble {
                    border: solid 1px #ffb400;
                    color: #ffb400;
                  }
                  &.telework {
                    border: solid 1px #e8619a;
                    color: #e8619a;
                  }
                  &.item {
                    border: solid 1px #449612;
                    color: #449612;
                  }
                  &.how_to_use {
                    border: solid 1px #ff7575;
                    color: #ff7575;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include mq_max_768(){
    max-width: 100%;
    @include flex_wrap(wrap);
    .l_main {
      padding-bottom: 30px;
      .lists {
        .item {
          width: 95%;
          margin: 0 auto 30px;
        }
      }
    }
  }
}