@import 'compass';
@import 'compass/support';

@import 'setting';
@import 'mixin';

/* ======================================================================
 p_top
====================================================================== */
.front {
  .kv {
    width: 100%;
    background: linear-gradient(-135deg, #4164B4, #41B4A0) fixed;
    height: 500px;
    .sliderArea {
      display: block;
      max-width: 100%;
      height: 500px;
      margin: 0 auto;
      padding: 20px 25px;
    }
    .sliderArea.w300 {
      max-width: 300px;
    }
    .slick-slide {
      margin: 0 5px;
      picture {
        width: 400px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .slick-prev, .slick-next {
      z-index: 1;
    }
    .slick-prev:before, .slick-next:before {
      color: #000;
    }
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    .slick-active {
      opacity: 1;
    }
    .slick-current {
      opacity: 1;
    }
    .thumb {
      margin: 20px 0 0;
    }
    .thumb .slick-slide {
      cursor: pointer;
    }
    .thumb .slick-slide:hover {
      opacity: .7;
    }
    .full-screen .slick-list {
      overflow: visible;
    }
    .full-screen.slider {
      max-width: 600px;
      margin: 0 auto;
      height: 100%;
    }
    
  }
  .l_contents {
   &.service {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    @include mq_max_768(){
      width: 100%;
    }
    .l_box {
      width: 49%;
      border: solid 1px #4164B4;
      padding: 20px;
      font-size: 1.8rem;
      margin: 10px 0;
      @include mq_max_768(){
        width: 100%;
      }
      .u_head_2 {
        text-align: center;
        border-bottom: solid 1px #4164B4;
        margin: 0 0 20px;
        padding: 0 0 20px;
      }
      .btn_box {
        margin: 20px 0px 10px;
        .btn {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          position: relative;
          display: inline-block;
          padding: 1rem 4rem;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          letter-spacing: 0.1em;
          color: #212529;
          border-radius: 0.5rem;
          color: #fff;
          background-color: #41B4A0;
          border-bottom: 5px solid #41B4A0;
          -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
          &:hover {
            margin-top: 3px;
            color: #fff;
            background: #409184;
            border-bottom: 2px solid #409184;
          }
        }
      }
    }
   }
  }
  .contact_btn_box {
    .contact_btn {
     text-align: center;
     background: #4164B4;
     width: 530px;
     margin: 0 auto;
     font-size: 2rem;
     color: #fff;
     border-radius: 30px;
     padding: 15px 0;
     position: relative;
     &:after {
       content: ">";
       position: absolute;
       top: 25%;
       right: 17px;
       font-size: 2.2rem;
       font-weight: bold;
     }
     &:hover {
       background: #495a82;
     }
    }
  }
}