@charset "UTF-8";
/* ======================================================================
 common style index
・reset
・setting
・mixin
・base
・sprite
・utility
・component
・layout
・z-index
====================================================================== */
/* ======================================================================
 reset
====================================================================== */
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  color: #000;
}

/* html5doctor.com Reset Stylesheet v1.6.1
  Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details,
dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section,
small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
/* ======================================================================
 setting
====================================================================== */
/* ======================================================================
 base
====================================================================== */
html {
  font-size: 62.5%;
}

body {
  position: relative;
  background: #fff;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "hiragino kaku gothic pro", "メイリオ", Meiryo, "游ゴシック", YuGothic, Verdana, sans-serif;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
body.js_page_trans {
  opacity: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  margin: 0 auto;
}

picture source, picture img {
  width: 100%;
  border-radius: 7px;
}

/* border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* h1 - h6 */
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

/* a */
a:link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}

a[href^="tel"] {
  color: #000;
}

/* Text Highlight */
/* button */
button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* input */
input, textarea, select {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-image: none;
  background: transparent;
  font-family: inherit;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input::-ms-expand, textarea::-ms-expand, select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* placeholder */
input:placeholder-shown, textarea:placeholder-shown {
  color: #000;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #000;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
}
input:focus:placeholder-shown, textarea:focus:placeholder-shown {
  color: #000;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #000;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: #000;
  opacity: 1;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #000;
  opacity: 1;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #000;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ======================================================================
 sprite
====================================================================== */
/* =================================
 hoge
================================= */
/* =================================
 hoge
================================= */
/* =================================
 hoge
================================= */
/* ======================================================================
 utility
====================================================================== */
.u_head_1 {
  font-size: 4.4rem;
  margin: 220px 0 370px;
  letter-spacing: 12px;
  line-height: 1.5;
  text-align: center;
}
.u_head_1 .c_1 {
  color: #ff6768;
}
@media screen and (max-width: 768px) {
  .u_head_1 {
    font-size: 2.1rem;
    margin: 40px 0 70px;
    letter-spacing: 5px;
    line-height: 1.22;
    text-align: center;
  }
}

.hover-1 {
  position: relative;
  background: #fff;
  border: 0 solid #fff;
  box-sizing: border-box;
}
.hover-1::before {
  content: attr(data);
  display: block;
  position: relative;
  z-index: 1;
}
.hover-1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: border-width 300ms;
  border: 0 solid #17223b;
  box-sizing: border-box;
  z-index: 0;
}
.hover-1:hover::after {
  border-width: 5px;
}

.txt_hover_2 {
  position: relative;
  background: #fff;
}
.txt_hover_2::before {
  content: attr(data);
  display: block;
}
.txt_hover_2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5px;
  background-color: #333;
  transition: width 300ms;
  width: 0;
}
.txt_hover_2:hover::after {
  width: 100%;
  left: 0;
}

/* =================================
 layout
================================= */
.cf {
  *zoom: 1;
}
.cf:after {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '\0020';
}

@media screen and (min-width: 1025px) {
  .u_pc {
    display: block;
  }

  .u_sp {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .u_pc {
    display: none;
  }

  .u_sp {
    display: block;
  }
}
.u_fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.u_body_fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* =================================
 text pt
================================= */
.u_txt_1 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_2 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_3 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_4 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_5 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_6 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

/* =================================
 text weight
================================= */
.u_lighter {
  font-weight: lighter;
}

.u_bold {
  font-weight: bold;
}

/* =================================
 text marker
================================= */
.u_marker_1_1 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmY2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmY2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(top, #ffff66 0%, #ffff66 100%);
  background: -webkit-linear-gradient(top, #ffff66 0%, #ffff66 100%);
  background: linear-gradient(to bottom, #ffff66 0%, #ffff66 100%);
}

.u_marker_1_2 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmNjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #ffff66 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #ffff66 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #ffff66 100%);
}

/* =================================
 box-shadow
================================= */
.u_box_shadow_1 {
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* =================================
 gradation
================================= */
.u_gradient_1 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5ZTlmMyIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjYTllOWYzIi8+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMyZDlkYWUiLz48c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzJkOWRhZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmQ5ZGFlIi8+PHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiMyZDlkYWUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZGY1ZmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(270deg, #a9e9f3 0%, #a9e9f3 10%, #2d9dae 25%, #2d9dae 37%, #2d9dae 50%, #2d9dae 83%, #bdf5fd 100%);
  background: -webkit-linear-gradient(270deg, #a9e9f3 0%, #a9e9f3 10%, #2d9dae 25%, #2d9dae 37%, #2d9dae 50%, #2d9dae 83%, #bdf5fd 100%);
  background: linear-gradient(180deg, #a9e9f3 0%, #a9e9f3 10%, #2d9dae 25%, #2d9dae 37%, #2d9dae 50%, #2d9dae 83%, #bdf5fd 100%);
}

/* =================================
 animation
================================= */
/* =================================
 hoge
================================= */
/* ======================================================================
 component
====================================================================== */
.c_1 {
  color: #ff6768;
}

/* =================================
 title
================================= */
/* =================================
 buttons
================================= */
/* =================================
 icon
================================= */
/* =================================
 alerts
================================= */
/* =================================
 pager
================================= */
/* =================================
 table
================================= */
/* =================================
 forms
================================= */
/* =================================
 list
================================= */
/* =================================
 item
================================= */
/* =================================
 hoge
================================= */
/* ======================================================================
 layout
====================================================================== */
/* =================================
 l_content_size
================================= */
.l_content_size_sp_1 {
  padding: 0 4.6875%;
}
@media screen and (min-width: 1025px) {
  .l_content_size_sp_1 {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.l_content_size_pc_1 {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l_content_size_pc_1 {
    width: auto;
    padding: 0 4.6875%;
  }
}

/* =================================
 l_container
================================= */
.l_container {
  opacity: 0;
  position: relative;
}

/* =================================
 l_header
================================= */
.l_header {
  border-bottom: solid 1px #ddd;
  height: auto;
}
@media screen and (max-width: 768px) {
  .l_header {
    border: none;
  }
}
.l_header .l_backbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 60%;
  height: 65px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l_header .l_backbox {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}
.l_header .l_backbox .logo .top_link {
  width: 270px;
  height: 100%;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 12px;
  background: #17223b;
  color: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .l_header .l_backbox .logo .top_link {
    width: 100%;
  }
}
.l_header .l_backbox .logo .top_link .logo_c_1 {
  color: #ff6768;
}

/* =================================
 l_nav
================================= */
.l_nav {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .l_nav {
    display: none;
  }
}
.l_nav .lists {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  -moz-justify-content: right;
  -ms-justify-content: right;
  justify-content: right;
  -ms-flex-pack: right;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.l_nav .lists .item {
  height: 100%;
  font-size: 1.8rem;
  color: #17223b;
  margin: 0 20px 0 0;
  font-weight: bold;
}
.l_nav .lists .item .link {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* =================================
 l_header_sp
================================= */
/* =================================
 l_menu_sp
================================= */
/* =================================
 l_breadcrumbs
================================= */
/* =================================
 l_main_visual
================================= */
/* =================================
 l_content
================================= */
/* =================================
 l_main
================================= */
.l_main {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l_main {
    width: 98%;
  }
}

/* =================================
 l_side
================================= */
/* =================================
 l_footer
================================= */
.l_footer {
  width: 100%;
  background: #263859;
  margin: 30px 0 0;
}
.l_footer .footer_1 {
  height: 800px;
}
@media screen and (max-width: 768px) {
  .l_footer .footer_1 {
    display: none;
  }
}
.l_footer .footer_2 {
  text-align: center;
  height: 40px;
  background: #17223b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================================
 l_hoge
================================= */
/* ======================================================================
 layout p_top
====================================================================== */
/* =================================
 l_container_top
================================= */
/* =================================
 l_header_top
================================= */
/* =================================
 l_header_sp_top
================================= */
/* =================================
 l_main_visual_top
================================= */
/* =================================
 l_content_top
================================= */
/* =================================
 l_main_top
================================= */
/* =================================
 l_side_top
================================= */
/* =================================
 l_footer_top
================================= */
/* =================================
 l_hoge_top
================================= */
/* ======================================================================
 z-index
====================================================================== */
.l_loader {
  z-index: 1000;
}

.l_menu_sp {
  z-index: 999;
}

.l_header {
  z-index: 998;
}

.l_header_sp {
  z-index: 998;
}

.c_btn_p_top {
  z-index: 997;
}

.l_side {
  z-index: 996;
}

/* =================================
 p_top
================================= */
.l_menu_sp_top {
  z-index: 999;
}

.l_header_top {
  z-index: 998;
}

.l_header_sp_top {
  z-index: 998;
}

.c_btn_p_top_top {
  z-index: 997;
}

.l_side_top {
  z-index: 996;
}

/*# sourceMappingURL=style.css.map */
