@charset "UTF-8";
/* ======================================================================
 common style index
・reset
・setting
・mixin
・base
・sprite
・utility
・component
・layout
・z-index
====================================================================== */
/* ======================================================================
 reset
====================================================================== */
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  color: #000;
}

/* html5doctor.com Reset Stylesheet v1.6.1
  Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details,
dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section,
small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
/* ======================================================================
 setting
====================================================================== */
/* ======================================================================
 base
====================================================================== */
html {
  font-size: 62.5%;
}

body {
  position: relative;
  background: #fff;
  color: #000;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, YuGothic, "游ゴシック sans-serif";
  word-wrap: break-word;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
body.js_page_trans {
  opacity: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}
a :hover {
  opacity: .7;
}

.page {
  width: 100%;
  margin: 0 auto;
}

picture source, picture img {
  width: 100%;
  border-radius: 7px;
}

/* border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* h1 - h6 */
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

/* a */
a:link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:active {
  color: #000;
  text-decoration: none;
}

a[href^="tel"] {
  color: #000;
}

/* Text Highlight */
/* button */
button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* input */
input, textarea, select {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-image: none;
  background: transparent;
  font-family: inherit;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input::-ms-expand, textarea::-ms-expand, select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* placeholder */
input:placeholder-shown, textarea:placeholder-shown {
  color: #000;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #000;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
}
input:focus:placeholder-shown, textarea:focus:placeholder-shown {
  color: #000;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #000;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: #000;
  opacity: 1;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #000;
  opacity: 1;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #000;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ======================================================================
 sprite
====================================================================== */
/* =================================
 hoge
================================= */
/* =================================
 hoge
================================= */
/* =================================
 hoge
================================= */
/* ======================================================================
 utility
====================================================================== */
.u_head_1 {
  font-size: 4.4rem;
  margin: 220px 0 370px;
  letter-spacing: 12px;
  line-height: 1.5;
  text-align: center;
}
.u_head_1 .c_1 {
  color: #ff6768;
}
@media screen and (max-width: 768px) {
  .u_head_1 {
    font-size: 2.1rem;
    margin: 40px 0 70px;
    letter-spacing: 5px;
    line-height: 1.22;
    text-align: center;
  }
}

.hover-1 {
  position: relative;
  background: #fff;
  border: 0 solid #fff;
  box-sizing: border-box;
}
.hover-1::before {
  content: attr(data);
  display: block;
  position: relative;
  z-index: 1;
}
.hover-1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: border-width 300ms;
  border: 0 solid #17223b;
  box-sizing: border-box;
  z-index: 0;
}
.hover-1:hover::after {
  border-width: 5px;
}

.txt_hover_2 {
  position: relative;
  background: #fff;
}
.txt_hover_2::before {
  content: attr(data);
  display: block;
}
.txt_hover_2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5px;
  background-color: #333;
  transition: width 300ms;
  width: 0;
}
.txt_hover_2:hover::after {
  width: 100%;
  left: 0;
}

/* =================================
 layout
================================= */
.cf {
  *zoom: 1;
}
.cf:after {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '\0020';
}

@media screen and (min-width: 1025px) {
  .u_pc {
    display: block;
  }

  .u_sp {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .u_pc {
    display: none;
  }

  .u_sp {
    display: block;
  }
}
.u_fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.u_body_fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* =================================
 text pt
================================= */
.u_txt_1 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_2 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_3 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_4 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_5 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

.u_txt_6 {
  font-size: 1em;
  line-height: 1;
  letter-spacing: .1em;
}

/* =================================
 text weight
================================= */
.u_lighter {
  font-weight: lighter;
}

.u_bold {
  font-weight: bold;
}

/* =================================
 text marker
================================= */
.u_marker_1_1 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmY2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmY2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(top, #ffff66 0%, #ffff66 100%);
  background: -webkit-linear-gradient(top, #ffff66 0%, #ffff66 100%);
  background: linear-gradient(to bottom, #ffff66 0%, #ffff66 100%);
}

.u_marker_1_2 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmNjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #ffff66 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #ffff66 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #ffff66 100%);
}

/* =================================
 box-shadow
================================= */
.u_box_shadow_1 {
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* =================================
 gradation
================================= */
.u_gradient_1 {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5ZTlmMyIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjYTllOWYzIi8+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMyZDlkYWUiLz48c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzJkOWRhZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmQ5ZGFlIi8+PHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiMyZDlkYWUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZGY1ZmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(270deg, #a9e9f3 0%, #a9e9f3 10%, #2d9dae 25%, #2d9dae 37%, #2d9dae 50%, #2d9dae 83%, #bdf5fd 100%);
  background: -webkit-linear-gradient(270deg, #a9e9f3 0%, #a9e9f3 10%, #2d9dae 25%, #2d9dae 37%, #2d9dae 50%, #2d9dae 83%, #bdf5fd 100%);
  background: linear-gradient(180deg, #a9e9f3 0%, #a9e9f3 10%, #2d9dae 25%, #2d9dae 37%, #2d9dae 50%, #2d9dae 83%, #bdf5fd 100%);
}

/* =================================
 animation
================================= */
/* =================================
 hoge
================================= */
/* ======================================================================
 component
====================================================================== */
.logo .top_link {
  width: 270px;
  height: 100%;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 12px;
  background: #17223b;
  color: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .logo .top_link {
    width: 100%;
  }
}
.logo .top_link .logo_c_1 {
  color: #ff6768;
}

/* =================================
 color
================================= */
.c_1 {
  color: #ff6768;
}

/* =================================
 head_txt
================================= */
.c_head_1 {
  text-align: center;
  font-weight: bold;
  font-size: 3.4rem;
  margin: 0 0 20px;
  padding: 1rem 2rem;
  color: #fff;
  background: #263859;
  -webkit-box-shadow: 5px 5px 0 #17223b;
  box-shadow: 5px 5px 0 #17223b;
}
.c_head_1.consultation {
  background: #f9ac3b;
  -webkit-box-shadow: 5px 5px 0 #e28433;
  box-shadow: 5px 5px 0 #e28433;
}
.c_head_1.survey {
  background: #D693BD;
  -webkit-box-shadow: 5px 5px 0 #9C0063;
  box-shadow: 5px 5px 0 #9C0063;
}
.c_head_1.school {
  background: #094;
  -webkit-box-shadow: 5px 5px 0 #007032;
  box-shadow: 5px 5px 0 #007032;
}
.c_head_1.acting {
  background: #ea7070;
  -webkit-box-shadow: 5px 5px 0 #fa625f;
  box-shadow: 5px 5px 0 #fa625f;
}
.c_head_1.review {
  background: #005792;
  -webkit-box-shadow: 5px 5px 0 #13334c;
  box-shadow: 5px 5px 0 #13334c;
}

.c_head_2 {
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
  font-size: 2.3rem;
  margin: 20px 0;
}
.c_head_2.consultation {
  border-left: 5px solid #f9ac3b;
}
.c_head_2.survey {
  border-left: 5px solid #D693BD;
}
.c_head_2.school {
  border-left: 5px solid #094;
}
.c_head_2.acting {
  border-left: 5px solid #ea7070;
}
.c_head_2.review {
  border-left: 5px solid #005792;
}

.c_side_head {
  text-align: left;
  font-size: 2.8rem;
  margin: 0px 0 20px;
  padding: 1rem 2rem;
  color: #283135;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

/* =================================
 その他
================================= */
.c_vis_box {
  width: 100%;
  height: 200px;
  background: #17223b;
}
.c_vis_box.consultation {
  background: #f9ac3b;
}
.c_vis_box.survey {
  background: #D693BD;
}
.c_vis_box.school {
  background: #094;
}
.c_vis_box.acting {
  background: #ea7070;
}
.c_vis_box.review {
  background: #005792;
}
.c_vis_box .page_ttl {
  color: #fff;
  font-weight: bold;
  font-size: 4.4rem;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wpcf7 {
  background: #eee;
  padding: 20px;
  border-radius: 7px;
  font-size: 2.4rem;
  font-weight: bold;
}
.wpcf7 .con_ttl {
  position: relative;
  padding: 1rem 2rem;
  border-bottom: 6px solid #263859;
  width: 100%;
  display: block;
  font-size: 2.4rem;
  text-align: center;
}
.wpcf7 .con_ttl:after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 20%;
  height: 6px;
  content: '';
  background: #17223b;
}
.wpcf7 input {
  background: #fff;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  margin: 10px 0 20px;
  font-size: 2.1rem;
  letter-spacing: 2px;
  padding: 0 0 0px 20px;
  color: #333;
}
.wpcf7 select {
  background: #fff;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  margin: 10px 0 20px;
  font-size: 2.1rem;
  letter-spacing: 2px;
  padding: 0 0 0px 20px;
  color: #333;
  position: relative;
}
.wpcf7 select:after {
  content: "▼";
}
.wpcf7 textarea {
  width: 100%;
  background: #fff;
  border-radius: 7px;
  margin: 10px 0 20px;
  font-size: 2.1rem;
  letter-spacing: 2px;
  padding: 0 0 0px 20px;
  color: #333;
}
.wpcf7 input[type="submit"] {
  font-size: 2.1rem;
  background: #ff6768;
  color: #fff;
  font-weight: bold;
}

.c_bread {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 1.6rem;
  padding: 10px 0 10px 5px;
  font-weight: bolder;
  background: #eee;
}
.c_bread span {
  margin: 0 5px;
}

.flow {
  padding-left: 120px;
  position: relative;
  margin: 50px 0;
  font-size: 1.8rem;
}
.flow:before {
  content: "";
  width: 15px;
  height: 100%;
  background: #eee;
  margin-left: -8px;
  display: block;
  position: absolute;
  top: 0;
  left: 120px;
}
.flow > li {
  position: relative;
}
.flow > li dl {
  padding-left: 70px;
  position: relative;
}
.flow > li dl:before, .flow > li dl:after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
}
.flow > li dl:before {
  width: 7px;
  height: 7px;
  margin-top: -3px;
  background: #6b90db;
  border-radius: 50%;
  left: -4px;
}
.flow > li dl:after {
  width: 50px;
  border-bottom: 1px dashed #999;
  position: absolute;
  left: 5px;
}
.flow > li dl dt {
  font-size: 20px;
  font-weight: 600;
  color: #6b90db;
  margin-bottom: 1vh;
}
.flow > li:not(:last-child) {
  margin-bottom: 8vh;
}
.flow > li .icon {
  font-size: 1.8rem;
  color: #fff;
  background: #6b90db;
  background: -moz-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
  background: -webkit-linear-gradient(left, #6b90db 0%, #66d5e9 100%);
  background: linear-gradient(to right, #6b90db 0%, #66d5e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
  padding: 8px 20px;
  display: block;
  position: absolute;
  top: 0;
  left: -130px;
  z-index: 100;
}
.flow > li .icon:after {
  content: "";
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #66d5e9;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-card {
  width: 100%;
  max-width: 400px;
  position: relative;
  background: #fff;
  /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.profile-card:before {
  width: 120%;
  height: 130px;
  content: "";
  transform: skew(15deg, 10deg);
  background: #70b7ff;
  /*斜め背景の色*/
  position: absolute;
  top: -15%;
  left: -10%;
  z-index: 0;
}

.profile-card__inner {
  position: relative;
  z-index: 1;
}

.profile-thumb {
  overflow: hidden;
  width: 110px;
  height: 110px;
  border: #fff 3px solid;
  border-radius: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #fff;
}

.profile-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.profile-content {
  margin: 0 0 49px;
  padding: 15px;
}

.profile-content span {
  display: block;
}

.profile-name {
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.profile-job {
  margin-bottom: 10px;
  color: #ccc;
  font-size: 10px;
  text-align: center;
}

.profile-intro {
  font-size: 12px;
}

.profile-sns {
  padding: 5px 0;
  text-align: center;
  color: #fff;
}

.profile-sns span {
  display: block;
  font-size: 10px;
}

.profile-sns a {
  font-size: 30px;
  margin: 0 5px;
  color: #fff;
}

.table04 {
  border-top: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  font-size: 2.1rem;
}

.table04 tr {
  border-bottom: 1px solid #ccc;
}

.table04 td {
  border: none;
  text-align: left;
  vertical-align: middle;
  padding: 16px 6%;
}

.table04 th {
  text-align: center;
  padding: 26px;
  width: 22%;
  font-weight: normal;
  background-color: #17223b;
  color: #fff;
  font-weight: bold;
}

/*スマホ*/
@media screen and (max-width: 767px) {
  .table04 th {
    padding: 10px 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }

  .table04 td {
    padding: 10px 20px;
    display: block;
  }
}
/*ハンバーガーボタン*/
.el_humburger {
  position: fixed;
  top: 45px;
  right: 60px;
  width: 46px;
  height: 25px;
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .el_humburger {
    display: block;
    right: 0;
    top: 0;
    padding-top: 10px;
    width: 70px;
    height: 70px;
  }

  #factory .el_humburger {
    display: none;
  }
}
.el_humburger_wrapper {
  margin-bottom: 5px;
  width: 42px;
  display: inline-block;
}

@media screen and (max-width: 840px) {
  .el_humburger_wrapper {
    margin-bottom: 5px;
    width: 30px;
  }
}
.el_humburger_text {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none;
}

.el_humburger_text.el_humburger_text__close {
  display: none;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block;
}

@media screen and (max-width: 840px) {
  .el_humburger_text {
    font-size: 10px;
    padding-top: 2px;
  }
}
@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000;
  }
}
@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000;
  }
}
.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: #000;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #fefefe;
  color: #fefefe;
}

@media screen and (max-width: 840px) {
  .el_humburger span.el_humburger_bar {
    left: 0;
    top: 0;
    background: #fefefe;
    color: #fefefe;
  }
}
.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #000;
}

.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #17223b;
  width: 0;
  z-index: 3;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden;
}

.js_humburgerOpen .navi {
  width: 450px;
}

@media screen and (max-width: 840px) {
  .js_humburgerOpen .navi {
    width: 100%;
    padding: 100px 5% 0;
  }
}
.navi_item {
  margin-bottom: 28px;
  font-size: 20px;
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
  margin-left: 90px;
}

.navi_item a {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fefefe;
}

.navi_item.op_innerLink {
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .navi_item {
    margin-left: 0;
    font-size: 18px;
  }
}
/* ======================================================================
 layout
====================================================================== */
/* =================================
 l_content_size
================================= */
.l_content_size_sp_1 {
  padding: 0 4.6875%;
}
@media screen and (min-width: 1025px) {
  .l_content_size_sp_1 {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.l_content_size_pc_1 {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l_content_size_pc_1 {
    width: auto;
    padding: 0 4.6875%;
  }
}

/* =================================
 l_container
================================= */
/* =================================
 l_header
================================= */
.l_header {
  border-bottom: solid 1px #ddd;
  height: auto;
}
@media screen and (max-width: 768px) {
  .l_header {
    border: none;
  }
}
.l_header .l_backbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 60%;
  height: 65px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l_header .l_backbox {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}

/* =================================
 l_nav
================================= */
.l_nav {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .l_nav {
    display: none;
  }
}
.l_nav .lists {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  -moz-justify-content: right;
  -ms-justify-content: right;
  justify-content: right;
  -ms-flex-pack: right;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.l_nav .lists .item {
  height: 100%;
  font-size: 1.8rem;
  color: #17223b;
  margin: 0 20px 0 0;
  font-weight: bold;
}
.l_nav .lists .item .link {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* =================================
 l_header_sp
================================= */
/* =================================
 l_menu_sp
================================= */
/* =================================
 l_breadcrumbs
================================= */
/* =================================
 l_main_visual
================================= */
/* =================================
 l_content
================================= */
/* =================================
 l_main
================================= */
.l_main {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l_main {
    width: 98%;
  }
}
.l_main .read_txt {
  text-align: center;
  font-size: 2.4rem;
  margin: 130px auto;
  width: 90%;
  letter-spacing: 2px;
  line-height: 2;
  font-weight: 900;
}

/* =================================
 l_side
================================= */
.l_side {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .l_side {
    width: 100%;
    margin: 20px 0 0;
  }
}
.l_side .recommend .lists .item {
  margin: 10px 0 20px;
}
.l_side .recommend .lists .item .link .ttl {
  font-weight: 700;
  position: relative;
  display: block;
  padding: 12px 30px;
  transition: all .3s;
  color: #283135;
  border-radius: 7px;
  background: #f8f8f8;
  box-shadow: 0 5px 0 #e4e4e4;
  font-size: 2.1rem;
}
.l_side .recommend .lists .item .link .ttl::after {
  position: absolute;
  top: calc(50% - 3px);
  right: 30px;
  width: 16px;
  height: 6px;
  content: '';
  border-radius: 3px;
  background: #000;
}
.l_side .recommend .lists .item .link .ttl.salon::after {
  background: #2E94B9;
}
.l_side .recommend .lists .item .link .ttl.consultation::after {
  background: #f9ac3b;
}
.l_side .recommend .lists .item .link .ttl.survey::after {
  background: #D693BD;
}
.l_side .recommend .lists .item .link .ttl.school::after {
  background: #28be9b;
}
.l_side .recommend .lists .item .link .ttl.acting::after {
  background: #ea7070;
}
.l_side .recommend .lists .item .link .ttl.review::after {
  background: #005792;
}

/* =================================
 l_side
================================= */
.l_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media screen and (max-width: 768px) {
  .l_wrapper {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* =================================
 l_footer
================================= */
.l_footer {
  width: 100%;
  background: #263859;
  margin: 30px 0 0;
}
.l_footer .footer_1 {
  display: none;
  height: 800px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.l_footer .footer_1 .logo_box {
  width: 30%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.l_footer .footer_1 .logo_box .logo {
  width: 300px;
  height: 300px;
}
.l_footer .footer_1 .logo_box .logo .top_link {
  width: 300px;
}
.l_footer .footer_1 .link_box {
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 2.3rem;
  color: #fff;
  font-weight: bold;
}
.l_footer .footer_1 .link_box .links {
  margin: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.l_footer .footer_1 .link_box .links .lists .item .link {
  color: #fff;
  padding: 0 0 0 20px;
  margin: 20px 0;
}
.l_footer .footer_2 {
  text-align: center;
  height: 40px;
  background: #17223b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================================
 l_hoge
================================= */
/* ======================================================================
 layout p_top
====================================================================== */
/* =================================
 l_container
================================= */
.l_container {
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .l_container {
    width: 100%;
  }
}
.l_container p.txt {
  font-size: 3.4rem;
  margin: 0 0 60px;
}
@media screen and (max-width: 768px) {
  .l_container p.txt {
    font-size: 2.1rem;
  }
}

/* =================================
 l_header_top
================================= */
.l_archive .l_container {
  width: 1000px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .l_archive .l_container {
    width: 100%;
  }
}
.l_archive .l_container .lists {
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.l_archive .l_container .lists .item {
  display: block;
  width: 47%;
  height: 100%;
  margin: 0 0 40px;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .l_archive .l_container .lists .item {
    width: 100%;
  }
}
.l_archive .l_container .lists .item:hover {
  box-shadow: 0 3px 15px #808080;
}
.l_archive .l_container .lists .item .link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.l_archive .l_container .lists .item .link .img_box {
  display: block;
  width: 100%;
  height: 300px;
}
.l_archive .l_container .lists .item .link .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l_archive .l_container .lists .item .link .info {
  background: #fff;
  padding: 15px;
}
.l_archive .l_container .lists .item .link .info .info_txt {
  color: #333;
}
.l_archive .l_container .lists .item .link .info .info_txt .u_head_2 {
  min-height: 40px;
  font-size: 2.3rem;
}
.l_archive .l_container .lists .item .link .info .info_txt .desc_txt {
  font-size: 1.8rem;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info {
  margin: 20px 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .date {
  line-height: 2;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat {
  border-radius: 15px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat.basic {
  border: solid 1px #0a61bb;
  color: #0a61bb;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat.Comparison {
  border: solid 1px #aea644;
  color: #aea644;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat.trouble {
  border: solid 1px #ffb400;
  color: #ffb400;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat.telework {
  border: solid 1px #e8619a;
  color: #e8619a;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat.item {
  border: solid 1px #449612;
  color: #449612;
}
.l_archive .l_container .lists .item .link .info .info_txt .sub_info .cat.how_to_use {
  border: solid 1px #ff7575;
  color: #ff7575;
}
@media screen and (max-width: 768px) {
  .l_archive {
    max-width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .l_archive .l_main {
    padding-bottom: 30px;
  }
  .l_archive .l_main .lists .item {
    width: 95%;
    margin: 0 auto 30px;
  }
}

/* ======================================================================
 z-index
====================================================================== */
.l_loader {
  z-index: 1000;
}

.l_menu_sp {
  z-index: 999;
}

.l_header {
  z-index: 998;
}

.l_header_sp {
  z-index: 998;
}

.c_btn_p_top {
  z-index: 997;
}

.l_side {
  z-index: 996;
}

/* =================================
 p_top
================================= */
.l_menu_sp_top {
  z-index: 999;
}

.l_header_top {
  z-index: 998;
}

.l_header_sp_top {
  z-index: 998;
}

.c_btn_p_top_top {
  z-index: 997;
}

.l_side_top {
  z-index: 996;
}

/*# sourceMappingURL=style.css.map */
